    <nb-card>
       <toaster-container [toasterconfig]="config"></toaster-container>
      <nb-card-header>post your query</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" name="subject" [(ngModel)]="subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message" name="message" [(ngModel)]="message"></textarea>
          </div>
          <button  type="submit" class="btn btn-success btn-round btn-demo" style="display: inherit ;
     cursor:pointer; background-color: cadetblue;
    display: inherit;font-size: x-small;
    font-family: inherit;
    " (click)="sendQuery()"> Send</button>
        </form>
      </nb-card-body>
    </nb-card>
