<!--<div style="    background: content-box;
    border-style: double;
    height: 80px;">
    <nb-user style="float:left ; color: cadetblue;    padding-left: 5px;" [name]="comment?.cname" [picture]="getPicture()"></nb-user>
    <div style="width: 500px;width: 600px;
    float: right;
    padding-top: 1%;
    display: block;
    /* width: 400px; */
    /* height: 20px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    color: black;
    padding-top: 1%;">
        <span>{{comment.comment}}</span>
        <span style="margin-right: 10px; float: right">{{comment.time | fromNow}} </span>
    </div>

</div>-->


                <div class="avatar">
                    <nb-user style="width: 55px ; height: 55px" [name]="comment?.cname" [picture]="getPicture()"></nb-user>
                       <span class="pubdate">{{comment.time | fromNow}}</span>
                </div>
                <div class="cmmnt-content" style="word-wrap: break-word;">
                  
                    <p>{{comment.comment}}</p>
                </div>
                <!--<ul class="replies">
                    <li class="cmmnt">
                        <div class="avatar">
                            <a href="javascript:void(0);"><img src="images/pig.png" width="55" height="55" alt="Sir_Pig photo avatar"></a>
                        </div>
                        <div class="cmmnt-content">
                            <header><a href="javascript:void(0);" class="userlink">Sir_Pig</a> - <span class="pubdate">posted 1 day ago</span></header>
                            <p>Sed felis lorem, venenatis sed malesuada vitae, tempor vel turpis. Mauris in dui velit, vitae
                                mollis risus.</p>
                            <p>Morbi id neque nisl, nec fringilla lorem. Duis molestie sodales leo a blandit. Mauris sit amet
                                ultricies libero. Etiam quis diam in lacus molestie fermentum non vel quam.</p>
                        </div>
                    </li>
                </ul>-->
