<div>
  <table style="width: 100%">
    <tr *ngFor = "let advisor of advisors;index as i; even as isEven; odd as isOdd">
      <td  class="card">
        <app-advisor-card [advisor] = advisor></app-advisor-card>
      </td>
    </tr>
    <div *ngIf="advisors.length == 0  && !onloading">Sorry No Advisor !</div>
     <div *ngIf="onloading" style="    padding-left: 40%;">
       <span style="    margin-left: -10%;">Fetching Advisors Near Your Location!</span>
       <div style= "margin-top: 50px;" class="loader"></div>
     </div>
  </table>
</div>