<div>
  <table style="width: 100%">
    <tr   *ngFor = "let advisor of advisors;index as i; even as isEven; odd as isOdd">
      <td *ngIf="!onloading" class="card">
        <app-advisor-card (refresh)="getAdvisors()" (chat)="chat($event)" [advisor] = advisor></app-advisor-card>
      </td>
    </tr>
    <tr>
    </tr>
    <div style="position: absolute;
    left: 32%;" *ngIf="(advisors.length === 0 ) && !onloading">
      <img src='assets/images/sorry.png'/>
    </div>
     <div *ngIf="onloading" style="    padding-left: 40%;">
       <span style="    margin-left: -10%;">Fetching Advisors Near Your Location!</span>
       <div style= "margin-top: 50px;" class="loader"></div>
     </div>
  </table>
</div>
<!--<app-chat [hidden]="showChat" (showChat)="showChat = false" [advisorId]='advisorId' (removeChat)="remove()"></app-chat>-->
<ng-chat *ngIf="userId" [adapter]="adapter" [title]="getTitle()" [userId]="userId" [historyEnabled]="false"></ng-chat>

