<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Get Expert</div>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <!--<nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>-->
  <nb-action>
    <nb-user [menu]="getmenu()" [name]="user?.firstName" [picture]="user?.picture" (menuClick)="menuClick($event)"></nb-user>
  </nb-action>
  <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
  <nb-action class="control-item" icon="nb-email" (click)="navigateToMessage()"></nb-action>
  <!--commented now -->
  <!--<nb-action class="control-item">
    <nb-search type="rotate-layout" tag="location"  placeholder="enter location" ></nb-search>
  </nb-action>-->
  <nb-action class="control-item">
          <div class="col-lg-7">
            <input autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #search  type="text"  [(ngModel)]="location" name="location"  id="location" placeholder="location"
               style="height: 30px;
    width: 300px;" required>
          </div>
          </nb-action>
  <nb-action *ngIf="noncurloc" class="control-item">
    <button (click)="useloc()" title="use current location"  class="btn btn-success btn-round btn-demo" style="display: inherit ;
     cursor:pointer; background-color: cadetblue;
    display: inherit;font-size: x-small;
    font-family: inherit;">Use current location </button>
  </nb-action>
</nb-actions>
