.items {
    margin : 10px
}
.txt:hover {
    text-decoration: underline;
}
.star {
      position: relative;  
      display: inline-block;
      font-size: 1rem;
      color: #d3d3d3;
    }
    .full {
      color: red;
    }
    .half {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: red;
    }
    .ion-social-whatsapp-outline:hover {
    color: cadetblue;
}
.ion-ios-alarm-outline:hover {
    color: cadetblue;
}
.ion-chatbubbles:hover {
  color: cadetblue;
}
.ion-trash-a:hover {
    color: cadetblue;
}
.ion-android-person-add:hover {
  color: cadetblue;
}
.ion-ios-email-outline:hover {
  color: cadetblue;
}
