<div style=" display: flex ; max-width: 1086px" *ngIf="advisor?.username">
    <div class="items">
        <img src="{{pic}}" style="cursor:pointer;" (click)="details()" height="100px" width="100px" />
        <i (click)="openQuery()" *ngIf="!isDisable" title="post query" class="ion-ios-email-outline" style="display: inherit ;position: absolute;
    left: 0;
    bottom: 0; cursor:pointer;
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;"> </i>
        <i *ngIf="!isDisable" class="ion-chatbubbles" (click)="chatClicked()" title="ping him" style="display: inherit ;position: absolute;
    left: 50px;
    bottom: 0; 
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;"> </i>
        <i *ngIf="!isFavPage && !isDisable" title="add to favorite" class="ion-android-person-add" style="display: inherit ;position: absolute;
    left: 100px;
    bottom: 0; cursor:pointer;
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;" (click)="addToFav()"></i>
        <i *ngIf="isFavPage" title = "delete from favorite" class="ion-trash-a" style="display: inherit ;position: absolute;
    left: 100px;
    bottom: 0; cursor:pointer;
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;" (click)="removeFav()"></i>
        <i *ngIf="!isDisable" title="see contact info" class="ion-social-whatsapp-outline" style="display: inherit ;position: absolute;
    left: 150px;cursor:pointer;
    bottom: 0; 
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;" (click)="showContactCard()"> </i>
            <i *ngIf="!isDisable" title="book appointment" class="ion-ios-alarm-outline" style="display: inherit ;position: absolute;
    left: 200px;
    bottom: 0; 
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;cursor:pointer;
    padding: 15px;
    font-family: inherit;
    margin: 10px;" (click)="bookcancel()"> </i>
    </div>

    <div class="items" style="min-width: 500px ;     width: 550px;
  ">
        <div style=" color: cadetblue;font-size: larger;
    font-family: cursive;">
            <span>{{advisor?.firstName}} </span>
            <span>{{advisor?.lastName}} </span>
        </div>
        <span style="display: inherit ;overflow: hidden;
    display: inherit;
    height: 90px;
    color: black;">{{advisor?.basicInfo}}</span>
        <span class="txt" style="display: inherit ; cursor:pointer;">{{advisor?.location}}</span>
    </div>
    <div class="items" style="width : 600px">
        <div>
            <span class="txt" style="font-style: italic;display: inherit ; color: cadetblue; cursor:pointer; margin-right: 10px ; float: right
    " (click)="openfeedBack()">comments</span>
            <ng-template #t let-fill="fill">
                <span *ngIf="fill === 100" class="star full">&#9733;</span>
                <span *ngIf="fill === 0" class="star">&#9733;</span>
                <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>

            <ngb-rating [rate]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <span>{{currentRate}}</span>
            <!--<img src="assets/images/like.png"  style="margin-top: 10px; margin: 10px ; position: absolute;
    right: 0;    bottom: 100px;
    height: 30px;
    width: 70px;" />-->
            <!--<i *ngIf="!isDisable" class="ion-ios-alarm-outline" style="display: inherit ;position: absolute;
    right: 0;
    bottom: 0; cursor:pointer;
    display: inherit;height: 45px;font-size: 25px;
    height: 40px;
    padding: 15px;
    font-family: inherit;
    margin: 10px;" (click)="bookcancel()"> </i>-->
        </div>
        <div style="margin: 5px">
            <li  *ngFor="let item of services"> <span *ngIf="item.name.length > 0">{{item.name}}</span></li>
        </div>
    </div>
</div>