$black: #000000;
$white: #FFFFFF;
$wood: #f2c58c;
$orange: #f17432;
$maroon: #9f2624;
$gray: #a8a8a8;
$darkGrey: #999ba0;
$lightBlue: #769fd4;
$darkBlue: #4a73b9;
$darkerBlue: #165a8c;
$lightGray: #e3e3e3;
$lightBrown: #eedebb;
$linen: #f8ecdf;
$alto: #d3d3d3;
$tango: #ea781f;
$metallicBronze: #482e1d;
$blue: #0000ee;
$red: #ff0000;
$tasman: #d5dad5;
$thunderbird: #ba221d;
$dustyGrey: #999999;
$mercury: #e4e4e4;
$silverChalice: #aaaaaa;
$oldCopper: #754732;
$whisky: #d8a36a;
$muddy: #bc8c6a;
$brown: #965433;
$maroon: #962e1c;
$khaki: #e6ce99;
$spanishWhite: #f6eedd;
$wildSand: #f6f6f6;
$gallery: #eeeeee;
$silver: #cccccc;
$red: #ff0000;