<div><div class="row">
    <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Finance" type="fin" class="ngx-status-card">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>
    <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Legal" type="leg" class="ngx-status-card">
      <i class="ion-university"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card class="ngx-status-card" title="Career Councellar" type="car" >
      <i class="ion-ribbon-b"></i>
    </ngx-status-card>
  </div>
  <!--<div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Makeup artist" type="makeup" class="ngx-status-card">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>-->
    <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Makeup artist" type="makeup" class="ngx-status-card">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
      <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Yoga" type="yoga" class="ngx-status-card">
      <i class="ion-ios-body"></i>
    </ngx-status-card>
  </div>
    <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Nutrition" type="nut" class="ngx-status-card">
      <i class="ion-medkit"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card class="ngx-status-card" title="Photography" type="pho" >
      <i class="ion-camera"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="wedding planner" type="event" class="ngx-status-card">
      <i class="ion-mic-c"></i>
    </ngx-status-card>
  </div>
</div>
