<!--<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" >
            <label for="category">category</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.category"  />
        </div>
        <div class="form-group" >
            <label for="category">Basic info</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.basicInfo"  />
        </div>
        <div class="form-group" >
            <label for="category">phone</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.phone"  />
        </div>
        <div class="form-group" >
            <label for="category">location</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.location"  />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
        

    </form>
</div>-->
<nb-card>
      <nb-card-header>Advisor Register </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Username" [(ngModel)]="model.userName" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text"  [(ngModel)]="model.firstName" placeholder="First Name" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text"   [(ngModel)]="model.lastName" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <input  [(ngModel)]="model.password" type="password" placeholder="Password" class="form-control"/>
        </div>
         <div class="dropdown ghost-dropdown" ngbDropdown>
          <!--<input type="text" placeholder="With Icon" class="form-control"/>-->
          <div class="dropdown ghost-dropdown input-group" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle>
        Choose Category
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li (click)="model.category = code[cat]" *ngFor = "let cat of advisorCategories" class="dropdown-item">{{cat}}</li>
      </ul>
    </div>
        </div>
        <div class="input-group">
          <input  [(ngModel)]="model.location" type="text" placeholder="Add Location" class="form-control" />
        </div>
         <div class="input-group">
          <input  [(ngModel)]="model.phone" type="text" placeholder="Contact " class="form-control" />
        </div>
         <div class="input-group">
          <input  [(ngModel)]="model.email" type="text" placeholder="Email Id " class="form-control" />
        </div>
        <div class="input-group">
          <textarea  [(ngModel)]="model.basicInfo" rows="5" placeholder="Brief Intro" class="form-control"></textarea>
        </div>
         <button [disabled]="loading" (click)="register()" class="btn btn-primary">Register</button>
      </nb-card-body>
    </nb-card>