<div >
<nb-card style="width: 30%;
    margin-left: 30%;
    background-color: white;">
      <nb-card-header>Advisor Register </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Username" [(ngModel)]="model.userName" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text"  [(ngModel)]="model.firstName" placeholder="First Name" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text"   [(ngModel)]="model.lastName" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <input  [(ngModel)]="model.password" type="password" placeholder="Password" class="form-control"/>
        </div>
         <div class="dropdown ghost-dropdown" ngbDropdown>
          <!--<input type="text" placeholder="With Icon" class="form-control"/>-->
          <div class="dropdown ghost-dropdown input-group" ngbDropdown>
      <!--<button class="btn btn-primary" type="button" ngbDropdownToggle>
        Choose Category
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li (click)="model.category = code[cat]" *ngFor = "let cat of advisorCategories" class="dropdown-item">{{cat}}</li>
      </ul>-->
      <select class="form-control">
          <option (click)="model.category = code[cat]" *ngFor = "let cat of advisorCategories">{{cat}}</option>
      </select>
    </div>
        </div>
        <div class="input-group">
          <input  [(ngModel)]="model.location" type="text" placeholder="Add Location" class="form-control" />
        </div>
         <div class="input-group">
          <input  [(ngModel)]="model.phone" type="text" placeholder="Contact " class="form-control" />
        </div>
         <div class="input-group">
          <input  [(ngModel)]="model.email" type="text" placeholder="Email Id " class="form-control" />
        </div>
        <div class="input-group">
          <textarea  [(ngModel)]="model.basicInfo" rows="5" placeholder="Brief Intro" class="form-control"></textarea>
        </div>
         <button [disabled]="loading" (click)="register()" class="btn btn-primary">Register</button>
      </nb-card-body>
    </nb-card>
</div>